Body
{
    color: rgb(7, 5, 0);
    background-color: rgba(85, 80, 90, 0.973);
    margin: 0px;
    font-family: "Moderustic", sans-serif;
}

header {
    border-bottom: solid 2px rgb(143, 124, 248); 
    padding: 20px;
    border: 20px;
    font-size: 32;
    color: yellowgreen;
}

section{
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.ChamarTexto{
    margin-left: 20px;
}

h1{
    font-size: 45px;
}

img{
    height: 300px;
}